@inherits LayoutComponentBase

<nav>
    <ul>
        <li><a href=""><img src="img/logo.svg" alt=""></a></li>
        <li><a href="">Home</a></li>
        <li><a href="internal-components">Acerca de la API</a></li>
        <li><a href="api-consumer">Consumir API</a></li>
    </ul>
</nav>
@Body
<footer>
    <div class="footer-container">
        <p>&copy; 2024 CoctailsAPI. Creator: Santycm. All Rights reserved.</p>
    </div>
</footer>