<div class="card">
    <div class="card-head">
        <img src="img/icons/cocktail-1.svg" alt="">
    </div>
    <div class="card-body">
        <h2>API</h2>
        <p>Consume la API de TheCocktailDB, donde tiene diferentes endpoints, que facilita la categorización
            y una busqueda rápida de los cocteles. Ya sea por ingredientes, tipo, nivel de alcohol, entre
            otros.</p>
    </div>
</div>
<div class="card">
    <div class="card-head">
        <img src="img/icons/cocktail-2.svg" alt="">
    </div>
    <div class="card-body">
        <h2>Navega entre endpoints</h2>
        <p>Hay una sección dedicada al API CONSUMER, donde puedes realizar todas las consultas disponibles
            para filtrar y consumir la API brindada por TheCockailDB</p>
    </div>
</div>
<div class="card">
    <div class="card-head">
        <img src="img/icons/cocktail-3.svg" alt="">
    </div>
    <div class="card-body">
        <h2>A disfrutar</h2>
        <p>Aprende de todos los cocteles y sus ingredientes para practicar y convertirte en un profesional
            de los licores.</p>
    </div>
</div>