<div class="text-banner-initial">
    <h1>@Title</h1>
    <p>@Description</p>
    <a href="api-consumer" class="btn-simple">API</a>
</div>

@code{
    [Parameter]
    public string? Title {get; set;}
    [Parameter]
    public string? Description {get; set;}
}