@page "/api-consumer"

@using alcoholic_api.Components

<div class="image-container">
    <img src="img/banner3.jpg" alt="" style="filter: brightness(0.6);">
</div>
<div class="text-banner">
    <div class="text-banner-initial">
        <h1>Bienvenido al API CONSUMER</h1>
        <p>Aquí puedes buscar y filtrar los cocteles segun categoría, copa o vino e ingredientes</p>
        <Search/>
    </div>
</div>