@page "/"
@using alcoholic_api.Components

<PageTitle>Home</PageTitle>
<section>
    <div class="image-container">
        <img src="img/banner.jpg">
    </div>
    <div class="set-cards">
        <SetCardsHome/>
    </div>
</section>
