@page "/internal-components"

@using alcoholic_api.Components

<PageTitle>Acerca de</PageTitle>
<div class="image-container">
    <img src="img/banner2.jpg" style="filter: brightness(0.7);">
</div>
<div class="text-banner">
    <TextBanner Title="TheCocktailDB" Description="La maravillosa API que contiene gran información acerca de los cocteles más famosos, donde se puede filtrar por categoría, nivel de alcohol y envase o copa" />
    <CardBanner Title="Sobre la API" Description="Sumérgete en el apasionante mundo de los cócteles con nuestra plataforma especializada en proporcionar acceso a una amplia gama de recetas de bebidas irresistibles. Desde los clásicosatemporales hasta las creaciones más innovadoras, nuestra API te ofrece un tesoro de conocimientos para explorar, experimentar y disfrutar." />
</div>
<SetInfoAPI/>